#Activity 02 - Data Processing

***
##### CS 434 - Dating Mining and Machine Learning
##### Oregon State University-Cascades
***

# Instructions
Complete this "worksheet" by writing code to complete the series of tasks mentioned.  Then open the Canvas "quiz" Activity (of the same name) and answer the questions based on the results.

# Load packages

In [0]:
import pandas as pd
import numpy as np

*** 

# Dataset

***

### Location
https://openmv.net/file/travel-times.csv

### Description
A driver uses an app to track GPS coordinates as he drives to work and back each day. The app collects the location and elevation data. Data for about 200 trips are summarized in this data set.

### Attributes
* `Date` : date of travel
* `StartTime` : when getting into the car
* `DayOfWeek`: the day name
* `GoingTo`: direction of travel
* `Distance`: distance travelled in kilometers
* `MaxSpeed`: fastest speed recorded (all trips are on the 407 highway for some portion)
* `AvgSpeed`: the average speed for the entire trip
* `AvgMovingSpeed`: the average speed recorded only while the car is moving
* `FuelEconomy`: a rough estimate of fuel economy (it is inaccurate)
* `TotalTime`: duration of the entire trip, in minutes
* `MovingTime`: duration when the car was considered to be moving (i.e. not counting traffic delays, accidents, or time while the car is stationary)
* `Take407All`: is Yes if the 407 toll highway was taken for the entire trip.
> *I try to avoid taking the 407, taking slower back routes to save costs. But some days I'm running late, or just lazy, and take it all the way.*
* `Comments` : miscellaneous notes

In [0]:
url = 'https://openmv.net/file/travel-times.csv'

*** 
# Exercise #1 - Examine data by row
***

##### 1.1 Load the dataset from the url and `display(df)`.

In [0]:
# load and display dataset
print('replace with your code')

replace with your code

##### 1.2. Print the number of rows.

In [0]:
# count the number of rows
print('replace with your code')

replace with your code

##### 1.3. Count number of rows that contain a missing value

In [0]:
# count the number of rows that are missing value(s)
print('replace with your code')

replace with your code

##### 1.4. Drop the rows that contain a missing value

In [0]:
# remove rows that contain missing values
print('replace with your code')

replace with your code

##### 1.5. Count the number of rows (again)

In [0]:
# count the number of rows
print('replace with your code')

replace with your code

> Conclusion. That's not very much data.  Let's try again.

*** 
# Exercise #2 - Examine data by column
***

##### 2.1. Reload the dataset from the url and `display(df)`.

In [0]:
# load and display dataset
print('replace with your code')

replace with your code

##### 2.2. Print the number of columns

In [0]:
# count the number of columns
print('replace with your code')

replace with your code

##### 2.3. Count the number of missing values by column

In [0]:
# count the number of missing values by column
print('replace with your code')

replace with your code

##### 2.4. Drop the columns that contain a missing value

In [0]:
# remove columns that contain missing values
print('replace with your code')

replace with your code

##### 2.5. Recount the number of columns

In [0]:
# count the number of columns
print('replace with your code')

replace with your code

> Conclusion.  That's better, but we're still throwing away data. Let's try again.

*** 
# Exercise #3 - Remove a data column
***

##### 3.1. Reload the dataset from the url and `display(df)`

In [0]:
# load and display dataset
print('replace with your code')

replace with your code

##### 3.2. Count the total number of missing values

In [0]:
# count the total number of missing values
print('replace with your code')

replace with your code

##### 3.3. Drop the `'Comments'` column

In [0]:
# remove the "Comments" column
print('replace with your code')

replace with your code

##### 3.4. Count the total number of missing values (again)

In [0]:
# count the total number of missing values
print('replace with your code')

replace with your code

##### 3.5. Examine the shape of the dataframe

In [0]:
# print the shape
print('replace with your code')

replace with your code

*** 
# Exercise 4 - Handling missing data
***


> **Tip**: use <img src="https://img.icons8.com/color/20/000000/google-logo.png"/> to learn how to do things in <img src="https://img.icons8.com/color/20/000000/panda.png"/>.

##### 4.0. Continue with the dataframe (without the `'Comments'` column)

##### 4.1. Impute the missing values with attribute mean and `display(df)`

In [0]:
# fill NaNs with the mean
print('replace with your code')

replace with your code

> Observe `'FuelEconomy'`. There are still `NaN`s. Why didn't that work?

##### 4.2. Examine the type of `'FuelEconomy'` column.

In [0]:
# print the dtype of 'FuelEconomy' column
print('replace with your code')

replace with your code

> Insight: that means we have a mixture of strings and numbers

##### 4.3. Print the `to_numpy()` representation of the `'FuelEconomy'` column.

In [0]:
# print the numpy representation
print('replace with your code')

replace with your code

> Do you spot the problem?

##### 4.4.  Use `regex=True` to replace `-` with `np.nan`

In [0]:
# replace the dash with a NaN
print('replace with your code')

replace with your code

##### 4.5. Convert the `FuelEconomy` using `pd.to_numeric(.)`

In [0]:
# convert 'FuelEconomy' to numeric
print('replace with your code')

replace with your code

*** 

# Exercise #5 - Impute data

***

##### 5.1. Impute the missing values with attribute mean and `display(df)` (again)

In [0]:
# fill NaNs with the mean
print('replace with your code')

replace with your code

##### 5.2. Print the average `'FuelEconomy'`

In [0]:
# print the average 'FuelEconomy'
print('replace with your code')

replace with your code

##### 5.3. Print the median `'FuelEconomy'`

In [0]:
# print the median 'FuelEconomy'
print('replace with your code')

replace with your code

##### 5.4. Print the standard deviation of `'FuelEconomy'`

In [0]:
# print the st.dev of 'FuelEconomy'
print('replace with your code')

replace with your code

##### 5.5. describe the summary statistics of `'FuelEconomy'`

In [0]:
# print summary statistics
print('replace with your code')

replace with your code

<img src="https://66.media.tumblr.com/dded9d1a2bf2068f92af9f7a9b6b5451/tumblr_p6s3hbPzgV1vd8jsjo1_500.gifv" width="300">