#Activity 02 - Data Processing

***
##### CS 434 - Dating Mining and Machine Learning
##### Oregon State University-Cascades
***

# Instructions
Complete this "worksheet" by writing code to complete the series of tasks mentioned.  Then open the Canvas "quiz" Activity (of the same name) and answer the questions based on the results.

# Load packages

In [5]:
import pandas as pd
import numpy as np

*** 

# Dataset

***

### Location
https://openmv.net/file/travel-times.csv

### Description
A driver uses an app to track GPS coordinates as he drives to work and back each day. The app collects the location and elevation data. Data for about 200 trips are summarized in this data set.

### Attributes
* `Date` : date of travel
* `StartTime` : when getting into the car
* `DayOfWeek`: the day name
* `GoingTo`: direction of travel
* `Distance`: distance travelled in kilometers
* `MaxSpeed`: fastest speed recorded (all trips are on the 407 highway for some portion)
* `AvgSpeed`: the average speed for the entire trip
* `AvgMovingSpeed`: the average speed recorded only while the car is moving
* `FuelEconomy`: a rough estimate of fuel economy (it is inaccurate)
* `TotalTime`: duration of the entire trip, in minutes
* `MovingTime`: duration when the car was considered to be moving (i.e. not counting traffic delays, accidents, or time while the car is stationary)
* `Take407All`: is Yes if the 407 toll highway was taken for the entire trip.
> *I try to avoid taking the 407, taking slower back routes to save costs. But some days I'm running late, or just lazy, and take it all the way.*
* `Comments` : miscellaneous notes

In [2]:
url = 'https://openmv.net/file/travel-times.csv'

*** 
# Exercise #1 - Examine data by row
***

##### 1.1 Load the dataset from the url and `display(df)`.

In [7]:
# load and display dataset
df_route = pd.read_csv('https://openmv.net/file/travel-times.csv')
df_route

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

##### 1.2. Print the number of rows.

In [10]:
# count the number of rows
df_route.shape

(205, 13)

##### 1.3. Count number of rows that contain a missing value

In [12]:
# count the number of rows that are missing value(s)
df_route.shape[0] - df_route.dropna().shape[0]

182

##### 1.4. Drop the rows that contain a missing value

In [15]:
# remove rows that contain missing values
dropped = df_route.dropna(axis=0)
dropped

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No,Put snow tires on
49,11/21/2011,07:24,Monday,GSK,52.25,127.3,38.1,50.3,10.05,82.3,62.4,No,Huge traffic backup
50,11/17/2011,16:16,Thursday,Home,51.16,127.6,72.4,77.4,10.05,42.4,39.6,No,Pumped tires up: check fuel economy improved?
52,11/16/2011,16:13,Wednesday,Home,51.12,125.1,65.0,73.1,9.53,47.2,41.9,No,Backed up at Bronte
54,11/15/2011,17:36,Tuesday,Home,51.06,122.8,61.4,70.9,9.53,49.9,43.2,No,Backed up at Bronte
60,11/9/2011,16:15,Wednesday,Home,51.28,121.4,65.9,71.8,9.35,46.7,42.1,No,Rainy
78,10/25/2011,17:24,Tuesday,Home,52.87,123.5,65.1,72.4,8.97,48.7,43.8,No,"Rain, rain, rain"
91,10/12/2011,17:47,Wednesday,Home,51.40,114.4,59.7,65.8,8.75,51.7,46.9,No,"Rain, rain, rain"
92,10/12/2011,08:28,Wednesday,GSK,50.58,128.4,59.5,67.3,8.75,51.0,45.1,Yes,Accident: backup from Hamilton to 407 ramp
110,9/27/2011,07:36,Tuesday,GSK,50.65,128.1,86.3,88.6,8.31,35.2,34.3,Yes,Raining
132,9/7/2011,07:57,Wednesday,GSK,49.08,125.1,56.5,66.5,8.5,52.1,44.3,No,Back to school traffic?
133,9/6/2011,16:27,Tuesday,Home,52.88,131.6,95.4,98.3,8.5,33.3,32.3,Yes,Took 407 all the way (to McMaster)
150,8/24/2011,07:59,Wednesday,GSK,49.07,127.1,58.5,71.5,8.54,50.3,41.1,No,Heavy volume on Derry
156,8/19/2011,07:05,Friday,GSK,49.18,123.0,72.0,81.4,8.37,41.0,36.3,No,Start early to run a batch
158,8/18/2011,08:11,Thursday,GSK,52.26,137.7,51.2,64.1,8.37,61.2,48.9,No,Accident at 403/highway 6; detour along Dundas
165,8/12/2011,17:25,Friday,Home,55.57,127.7,69.6,77.1,8.54,47.9,43.2,No,Detour taken
166,8/12/2011,08:05,Friday,GSK,49.02,128.4,76.7,82.9,8.54,38.4,35.5,No,Must be Friday
172,8/9/2011,08:15,Tuesday,GSK,49.08,134.8,60.5,67.2,8.54,48.7,43.8,No,Medium amount of rain
174,8/8/2011,08:07,Monday,GSK,49.25,126.3,68.5,78.2,8.54,43.1,37.8,No,New tires
182,8/2/2011,07:38,Tuesday,GSK,53.48,124.9,68.8,78.8,8.48,46.7,40.7,No,Turn around on Derry
184,7/29/2011,08:22,Friday,GSK,49.07,121.1,73.2,77.7,8.45,40.2,37.9,No,Empty roads
187,7/27/2011,17:24,Wednesday,Home,50.98,124.9,68.3,71.9,8.45,44.8,42.6,No,Police slowdown on 403
189,7/26/2011,17:15,Tuesday,Home,51.28,122.1,43.7,51.5,8.45,70.5,59.8,No,Accident blocked 407 exit

##### 1.5. Count the number of rows (again)

In [17]:
# count the number of rows
dropped.shape

(23, 13)

> Conclusion. That's not very much data.  Let's try again.

*** 
# Exercise #2 - Examine data by column
***

##### 2.1. Reload the dataset from the url and `display(df)`.

In [18]:
# load and display dataset
df_route = pd.read_csv('https://openmv.net/file/travel-times.csv')
df_route

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

##### 2.2. Print the number of columns

In [24]:
# count the number of columns
df_route.shape[1]

13

##### 2.3. Count the number of missing values by column

In [26]:
# count the number of missing values by column
df_route.isnull().sum()

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed      0
FuelEconomy        17
TotalTime           0
MovingTime          0
Take407All          0
Comments          181
dtype: int64

##### 2.4. Drop the columns that contain a missing value

In [29]:
# remove columns that contain missing values
dropped = df_route.dropna(axis=1)
dropped

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,39.3,36.3,No
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,37.5,35.9,No
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,36.8,34.8,No
...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,65.5,39.7,No
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,40.1,32.1,Yes
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,54.2,40.6,Yes
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,51.9,36.5,Yes
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,49.5,33.6,Yes

##### 2.5. Recount the number of columns

In [30]:
# count the number of columns
dropped.shape[1]

11

> Conclusion.  That's better, but we're still throwing away data. Let's try again.

*** 
# Exercise #3 - Remove a data column
***

##### 3.1. Reload the dataset from the url and `display(df)`

In [31]:
# load and display dataset
df_route = pd.read_csv('https://openmv.net/file/travel-times.csv')
df_route

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

##### 3.2. Count the total number of missing values

In [33]:
# count the total number of missing values
df_route.isnull().sum().sum()

198

##### 3.3. Drop the `'Comments'` column

In [42]:
# remove the "Comments" column
dropped_comments = df_route.drop(columns='Comments')
dropped_comments

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No
...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes

##### 3.4. Count the total number of missing values (again)

In [35]:
# count the total number of missing values
df_route.isnull().sum().sum()

198

##### 3.5. Examine the shape of the dataframe

In [36]:
# print the shape
df_route.shape

(205, 13)

*** 
# Exercise 4 - Handling missing data
***


> **Tip**: use <img src="https://img.icons8.com/color/20/000000/google-logo.png"/> to learn how to do things in <img src="https://img.icons8.com/color/20/000000/panda.png"/>.

##### 4.0. Continue with the dataframe (without the `'Comments'` column)

##### 4.1. Impute the missing values with attribute mean and `display(df)`

In [43]:
# fill NaNs with the mean
display(dropped_comments.fillna(dropped_comments.mean())) #column mean

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No
...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes

> Observe `'FuelEconomy'`. There are still `NaN`s. Why didn't that work?

##### 4.2. Examine the type of `'FuelEconomy'` column.

In [44]:
# print the dtype of 'FuelEconomy' column
dropped_comments['FuelEconomy'].dtypes

dtype('O')

> Insight: that means we have a mixture of strings and numbers

##### 4.3. Print the `to_numpy()` representation of the `'FuelEconomy'` column.

In [46]:
# print the numpy representation
dropped_comments['FuelEconomy'].to_numpy()

array([nan, nan, nan, nan, nan, nan, '-', '-', '8.89', '8.89', '8.89',
       '8.89', '8.89', '8.89', '8.89', '8.89', '9.08', '9.08', '9.08',
       '9.08', '9.08', '9.08', '9.08', '9.08', '9.76', '9.76', '9.76',
       '9.76', '9.76', '9.76', '9.76', '9.16', '9.16', '9.16', nan, nan,
       nan, nan, nan, nan, nan, nan, '9.3', '9.3', '9.3', '9.3', '9.3',
       '9.3', '10.05', '10.05', '10.05', '10.05', '9.53', '9.53', '9.53',
       '9.53', '9.53', '9.53', '9.53', '9.53', '9.35', '9.35', '9.35',
       '9.35', '9.35', '9.35', '9.35', '9.35', '8.32', '8.32', '8.32',
       '8.32', '8.32', '8.32', '8.32', '8.32', '8.97', '8.97', '8.97',
       '8.97', '8.97', '8.97', '8.75', '8.75', '8.75', '8.75', '8.75',
       '8.75', '8.75', '8.75', '8.75', '8.75', '8.75', '7.81', '7.81',
       '7.97', '7.97', '7.97', '7.97', '7.97', '7.97', '7.97', '7.97',
       '7.97', '7.97', '8.93', '8.93', '8.93', '8.93', '8.31', '8.31',
       '8.31', '8.31', '8.31', '8.31', '8.33', '8.33', '8.33', '8.33',
       '8.33', '8.33', '8.33', '8.33', '8.33', '8.33', '8.5', '8.5',
       '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5',
       '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5',
       '8.54', '8.54', '8.54', '8.54', '8.54', '8.54', '8.54', '8.54',
       '8.54', '8.54', '8.37', '8.37', '8.37', '8.37', '8.37', '8.37',
       '8.37', '8.37', '8.37', '8.37', '8.54', '8.54', '8.54', '8.54',
       '8.54', '8.54', '8.54', '8.54', '8.54', '8.54', '8.48', '8.48',
       '8.48', '8.48', '8.48', '8.48', '8.48', '8.48', '8.45', '8.45',
       '8.45', '8.45', '8.45', '8.45', '8.45', '8.45', '8.45', '8.45',
       '8.28', '8.28', '8.28', '7.89', '7.89', '7.89', '7.89', '7.89',
       '7.89', nan, nan, nan], dtype=object)

> Do you spot the problem?

##### 4.4.  Use `regex=True` to replace `-` with `np.nan`

In [69]:
# replace the dash with a NaN
dropped_comments["FuelEconomy"].replace(to_replace="-", value=None, regex=True, inplace=True)
dropped_comments['FuelEconomy'].to_numpy()

array([nan, nan, nan, nan, nan, nan, nan, nan, '8.89', '8.89', '8.89',
       '8.89', '8.89', '8.89', '8.89', '8.89', '9.08', '9.08', '9.08',
       '9.08', '9.08', '9.08', '9.08', '9.08', '9.76', '9.76', '9.76',
       '9.76', '9.76', '9.76', '9.76', '9.16', '9.16', '9.16', nan, nan,
       nan, nan, nan, nan, nan, nan, '9.3', '9.3', '9.3', '9.3', '9.3',
       '9.3', '10.05', '10.05', '10.05', '10.05', '9.53', '9.53', '9.53',
       '9.53', '9.53', '9.53', '9.53', '9.53', '9.35', '9.35', '9.35',
       '9.35', '9.35', '9.35', '9.35', '9.35', '8.32', '8.32', '8.32',
       '8.32', '8.32', '8.32', '8.32', '8.32', '8.97', '8.97', '8.97',
       '8.97', '8.97', '8.97', '8.75', '8.75', '8.75', '8.75', '8.75',
       '8.75', '8.75', '8.75', '8.75', '8.75', '8.75', '7.81', '7.81',
       '7.97', '7.97', '7.97', '7.97', '7.97', '7.97', '7.97', '7.97',
       '7.97', '7.97', '8.93', '8.93', '8.93', '8.93', '8.31', '8.31',
       '8.31', '8.31', '8.31', '8.31', '8.33', '8.33', '8.33', '8.33',
       '8.33', '8.33', '8.33', '8.33', '8.33', '8.33', '8.5', '8.5',
       '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5',
       '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5',
       '8.54', '8.54', '8.54', '8.54', '8.54', '8.54', '8.54', '8.54',
       '8.54', '8.54', '8.37', '8.37', '8.37', '8.37', '8.37', '8.37',
       '8.37', '8.37', '8.37', '8.37', '8.54', '8.54', '8.54', '8.54',
       '8.54', '8.54', '8.54', '8.54', '8.54', '8.54', '8.48', '8.48',
       '8.48', '8.48', '8.48', '8.48', '8.48', '8.48', '8.45', '8.45',
       '8.45', '8.45', '8.45', '8.45', '8.45', '8.45', '8.45', '8.45',
       '8.28', '8.28', '8.28', '7.89', '7.89', '7.89', '7.89', '7.89',
       '7.89', nan, nan, nan], dtype=object)

##### 4.5. Convert the `FuelEconomy` using `pd.to_numeric(.)`

In [70]:
# convert 'FuelEconomy' to numeric
pd.to_numeric(dropped_comments["FuelEconomy"])

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
200    7.89
201    7.89
202     NaN
203     NaN
204     NaN
Name: FuelEconomy, Length: 205, dtype: float64

*** 

# Exercise #5 - Impute data

***

##### 5.1. Impute the missing values with attribute mean and `display(df)` (again)

In [77]:
# fill NaNs with the mean
d = dropped_comments
display(d.fillna(d.mean()))

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No
...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes

##### 5.2. Print the average `'FuelEconomy'`

In [0]:
# print the average 'FuelEconomy'
print('replace with your code')

replace with your code

##### 5.3. Print the median `'FuelEconomy'`

In [0]:
# print the median 'FuelEconomy'
print('replace with your code')

replace with your code

##### 5.4. Print the standard deviation of `'FuelEconomy'`

In [0]:
# print the st.dev of 'FuelEconomy'
print('replace with your code')

replace with your code

##### 5.5. describe the summary statistics of `'FuelEconomy'`

In [0]:
# print summary statistics
print('replace with your code')

replace with your code

<img src="https://66.media.tumblr.com/dded9d1a2bf2068f92af9f7a9b6b5451/tumblr_p6s3hbPzgV1vd8jsjo1_500.gifv" width="300">